body {
  font-family: "Raleway", sans-serif;
  /* display: flex;
    justify-content: center; */
  padding: 0;
  margin: 0;
}

/* .container {
    width: 80%;
} */

header {
  height: 10vh;
  /* width: 100%; */
  /* padding: 0 120px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 40%);
}

header img {
  width: 200px;
}

.navbar-link {
  display: flex;
  align-items: flex-end;
}

.navbar-link li {
  list-style: none;
  padding: 10px;
}

.navbar-link a {
  text-decoration: none;
  color: black;
}

.navbar-link a:hover,
.navbar-link a:active {
  text-decoration: solid;
  color: #008000;
  border-bottom: solid 3px #008000;
}

button {
  background-color: #008000;
  padding: 10px 30px;
  color: white;
  border: none;
}

.sec-1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
}

.sec-1-image img {
  height: 250px;
  width: 400px;
  border-radius: 5px;
}

.sec-1-text {
  max-width: 500px;
}

.sec-2-headline {
  display: flex;
  justify-content: center;
}
.sec-2-images {
  display: flex;
  justify-content: space-evenly;
}

.sec-2-images img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

figcaption {
  text-align: center;
}

.bg-gray {
  background-color: #efefef;
}

.sec-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.sec-3-text {
  display: flex;
  justify-content: center;
}

.sec-3-text p {
  max-width: 800px;
}

.sec-3-text img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

/* footer {
  background-color: #403b3b;
  width: 100%;
  height: 30vh;
} */
