@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
    font-family: "Raleway", sans-serif;
    font-size: 18px;

}

* {
    margin: 0;
    padding: 0;

}

.background-gray {
    background-color: rgb(190, 87, 87);
    border-radius: 15px;

}

.margin {
    margin: 0 80px;
}


.title-image {
    margin: 20px 0px;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    object-position: center;
}

h2 {
    margin-top: 20px;
}

.recipe-details {
    display: flex;
}

.icon {
    background-color: rgb(236, 230, 230);
    border-radius: 15px;
    margin-right: 32px;
}

.recipe-details img {
    width: 16px;
    height: 16px;
}

.portions {
    margin-top: 60px;
    margin-bottom: 20px;
}

.portions input {
    border: 1px solid #efefef;
    height: 32px;
    border-radius: 5px 0 0 5px;
    padding-left: 16px;
}

.portions button {
    height: 34px;
    border: none;
    background-color: #008000;
    color: white;
    padding: 0 32px;
    cursor: pointer;
}

.ingredients p:nth-child(odd) {
    background-color: #efefef;
}

.ingredients p {
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 10px;
}

.ingredients {
    margin-bottom: 20px;
}

.recipe-details-2 {
    display: flex;
    margin: 20px 0px;

}

.recipe-details-2 img {
    width: 16px;
    height: 16px;

}

.preperation p {
    margin-bottom: 20px;
}

.creator {
    margin-bottom: 20px;
}

.creator-image {
    display: flex;
    align-items: center;
}

h4 {
    font-weight: bold;
    margin-bottom: 20px;
}

.creator img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}


.creator-image span {
    font-weight: bold;
    margin-left: 30px;

}