<footer>
  <div class="footer-row">
    <div class="footer-container">
      <img class="logo" src="img/logo-white.png" alt="logo" />
    </div>
    <div class="footer-container">
      <a href="#"
        ><img
          class="sozial-media-icon"
          src="img/facebook-3-48.png"
          alt="facebook"
      /></a>
      <a href="#"
        ><img
          class="sozial-media-icon"
          src="img/instagram-48.png"
          alt="instagram"
      /></a>
      <a href="#"
        ><img class="sozial-media-icon" src="img/twitter-48.png" alt="twitter"
      /></a>
    </div>
  </div>

  <div class="footer-row">
    <div class="footer-container">© 2022 Kochwelt</div>

    <div class="footer-container links">
      <a href="kontakt.html">Kontakt</a> <span class="delimiter">|</span>
      <a href="datenschutz.html">Datenschutz</a>
      <span class="delimiter">|</span>
      <a href="impressum.html">Impressum</a>
    </div>
  </div>
</footer>
