<header>
  <a href="index.html"><img src="img/logo.png" alt="" /></a>
  <ul class="navbar-link">
    <li><a href="index.html">Start</a></li>
    <li><a href="rezepte.html">Rezepte</a></li>
    <li><a href="tiramisu.html">Rezept des Tages</a></li>
    <li><a href="kontakt.html">Kontakt</a></li>
    <li><a href="impressum.html">Impressum</a></li>
  </ul>
  <div class="mobile-menu-button" onclick="openMobileMenu()">
    <div class="mobile-menu-button-burger"></div>
  </div>
  <div class="mobile-menu">
    <ul class="mobile-navbar-link">
      <li><a href="index.html">Start</a></li>
      <li><a href="rezepte.html">Rezepte</a></li>
      <li><a href="tiramisu.html">Rezept des Tages</a></li>
      <li><a href="kontakt.html">Kontakt</a></li>
      <li><a href="impressum.html">Impressum</a></li>
    </ul>
  </div>
</header>
